<section class="post">
    <header class="post-header">
        <a href="{{ url_for('.detail', post_id=post.id) }}"><h2 class="post-title">{{ post.title }}</h2></a>

        <p class="post-meta">
            By <a href="#" class="post-author">伯函</a> under
            {% if post.tags %}
                {% for tag in post.tags.split(',') %}
                    <a class="post-category post-category-pure" href="{{ url_for('.tag_index', tag_str=tag.strip()) }}">{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </p>
    </header>

    <div class="post-description">
        {{ post.content_markdown|safe }}
    </div>
</section>
